@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body{
    max-width: 1920px;
}


/*----------------
     global css
---------------- */
.contener{
    width: 70%;
    margin: 0 auto;
    padding: 35px 0;
}

.btn{
    display: block;
    padding: 15px 25px;
    border: 0;
    border-radius: 5px;
    background: #FF900E;
    color: 	#fff;
    font-size: 1rem;
    font-weight: 700;
}

/*--------------------------
     header section style
-------------------------- */

header{
    background: #faefe3;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo h1{
    font-size: 30px;
}
.nav-link ul{
    display: flex;
    gap: 40px;
}
.nav-link li{
    list-style: none;
}
.nav-link a{
    text-decoration: none;
    color: #424242;
}


.company-info{
    width: 70%;
    margin: 80px auto ;
}
 

.title{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.company-info p{
    color: #727272;
    font-size: 12px;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.company-info .btn{
    display: block;
    margin: 0 auto;
}


.banner-img img{
    width: 100%;
}


/*-------------------------
     main section style 
------------------------ */


/*----------------------- 
    tram section style
------------------------ */


.tram{
    display: flex;
    gap: 50px;
    padding: 10px;
    align-items: center;
}
.tram article{
    flex: 1;
}
.tram-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.tram-img img{
    width: 	100%;
}

.featur-title{
    font-size: 35px;
    width: 75%;
    margin-bottom: 20px;
}
.cl-1{
    color: #727272;
    font-weight: 400;
}
.cl-2{
    color: #FF900E;
    font-weight: 800;
}

.tram-info p {
    color: #727272;
    margin-bottom: 25px;
}










@media only screen and (max-width:576px){

    .contener{
        width: 100%;
    }
    /*--------------------------
     header section style
-------------------------- */
    nav, .nav-link ul, .tram{
        flex-direction: column;
    }   
    .nav-logo{
        margin-bottom: 20px;
    }
    .title{
        font-size: 40px;
    }

    .featur-title{
        font-size: 28px;
        text-align: center;
    }
    .featur-title, .btn{
        margin: 0 auto;
        
    }
}


















